.body {
  background-color: #fbe6c2 ;
}

.container {
  text-align: center;
}

.taco-card{
  width: 30rem;
  padding: 2em;
  margin: 0 auto;
  background-color: #fbe6c2;
  margin-top: 1em;
  color: #ac0d0d;
  -webkit-box-shadow: 3px 3px 14px 1px #EDDAB8; 
  box-shadow: 3px 3px 14px 1px #EDDAB8;
  background: #FBE6C2;
}


/* .card > * {
  background-color: #fbe6c2;
} */

h1 {
  font-family: 'Rye', cursive;
  color: #ac0d0d;  
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #ac0d0d;
  font-size: x-large;
  font-weight: bolder;
}

h3 {
  font-family: 'Rye', cursive;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
}

a {
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  padding: 10px;
  
}

li {
  list-style: none;
}

.restaurant {
  margin-bottom: 0;
}

.location {
  margin-top: 15px;
}






